HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de compilación
target/
build/
*.class

# Archivos de configuración de IDE
.idea/
*.iml
*.ipr
*.iws

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Lombok
*.lombok.log

# Archivos de entorno
.env